<!-- <div class="details-section">
    <h3>Detalles Curiosos de {{character.name}}</h3>
    <img [src]="character.image" alt="{{character.name}}" class="img-fluid">
    <p><strong>Especie: </strong> {{character.species}}</p>
    <p><strong>Estado: </strong> {{character.status}}</p>
    <p><strong>Origen: </strong> {{character.origin.name}}</p>
    <p><strong>Ubicacion actual: </strong> {{character.location.name}}</p>
    <button class="btn btn-secondary" (cliick)="character = null"></button>
</div> -->

<div class="details-section">
    <div class="details-overlay">
      <div class="details-card">
        <h3>Detalles Curiosos de {{character.name}}</h3>
        <img [src]="character.image" alt="{{character.name}}" class="img-fluid mb-3">
        <p><strong>Especie: </strong> {{character.species}}</p>
        <p><strong>Estado: </strong> {{character.status}}</p>
        <p><strong>Origen: </strong> {{character.origin.name}}</p>
        <p><strong>Ubicación actual: </strong> {{character.location.name}}</p>
        <button class="btn btn-secondary" (click)="closeDetails()">Cerrar</button>
      </div>
    </div>
  </div>
  